/****** General ***********/
* {
    font-family: 'Raleway', sans-serif; /* Font de la page */
    margin: 0px; /* Supprimer les possibles marges automatiques */
    padding: 0px; /* Supprimer les possibles paddings automatiques */
}

/****** header ******/
header {
    width: 100%; /* Largeur de l'entête */
    height: 79px; /* Hauteur de l'entête */

}

/****** navBar ******/
nav {
    width: 100%; /* Largeur de la navBar */
    height: 100%; /* Hauteur de la navBar */
    margin: auto; /* Centrer la navBar */
    display: flex; /* Afficher la navBar en flex */
    flex-wrap: wrap; /* Permettre le passage à la ligne si nécessaire */
    justify-content: space-between; /* Espacement entre les éléments */
    align-items: center; /* Alignement vertical au centre */
    box-sizing: border-box; /* Prendre en compte la bordure et le padding dans la largeur totale */
}

/* CSS logo navBar */
nav .navbar-logo .logo {
    margin: 0; /* Suppression de la marge */
    width: 61.09px; /* Largeur du logo */
    height: 19px; /* Hauteur du logo */
}

/* Personnalisation des Boutons du Menu */
.menu-list {
    display: flex; /* Alignement en ligne */
    list-style: none; /* Suppression des puces */
    font-size: 16px; /* Taille de la police */
    gap: 35px; /* Espacement entre les boutons */
    margin-bottom: 35px;
}

.menu-list a{
    padding: 10px /* Ajout d'un padding pour le survol */
}

/* Changement de Couleur et Ajout de la bordure au Survol */
.menu-list a:hover{
    transition: color 0.1s ease; /* Animation de la couleur */
    color : var(--main-color); /* Changement de la couleur */
    cursor: pointer; /* Changement de forme du pointeur */
    border-top: var(--main-color) solid 3px; /* Apparition de la bordure */
}

/****** Info Group ******/
.info-group {
    display: flex; /* Alignement en ligne */
    flex-direction: column; /* Alignement en colonne */
    align-items: flex-start; /* Alignement à gauche pour tous les enfants */
    gap: 35px ; /* Espacement entre les éléments */
    padding-left: 20px; /* Alignement horizontal global avec le titre */
}

/*** Headline ***/

/* Promesses */
.promesse {
    display: flex; /* Alignement en ligne */
    flex-direction: column; /* Alignement en colonne */
    gap: 8px; /* Espacement entre les éléments */
}

.promesse__title {
    font-size: 22px; /* Taille de la police du titre */
    font-weight: bold; /* Poids de la police */
    margin: 0; /* Supprimer les marges par défaut */
}

.promesse__subtitle p{
    margin: 0; /* Supprimer les marges par défaut */
    font-size: 16px; /* Taille de la police */
    font-weight: 400; /* Poids de la police */
    color: #666; /* Couleur du texte */
}

/*** Search-Bar / Barre de Recherche ***/
.search-bar {
    height: 49px; /* Hauteur de la barre de recherche */
    display: flex; /* Affichage en ligne */
    align-items: center; /* Alignement vertical au centre */
    width: 377px; /* Largeur de la barre de recherche */
    border: 1px solid #F2F2F2; /* Bordure */
    border-radius: 15px; /* Arrondir les coins */
}

/* Icône de localisation */
.search-bar .search-bar__icon {
    display: flex; /* Appliquer flexbox sur l'icône pour l'aligner correctement */
    align-items: center; /* Centrer verticalement l'icône à l'intérieur de son conteneur */
    justify-content: center; /* Centrer horizontalement l'icône si nécessaire */
    width: 50px; /* Largeur de l'espace */
    height: 100%; /* Hauteur de l'espace */
    background-color: #F2F2F2; /* Couleur de fond */
    border-radius: 15px 0px 0px 15px; /* Arrondir les coins */
}

.search-bar .search-bar__icon .icon {
    width: 14px; /* Largeur de l'icône */
    height: auto; /* Hauteur de l'icône */
}

/* Zone de texte */
.search-bar .search-bar__text-area {
    display: flex; /* Appliquer flexbox */
    align-items: center; /* Centrer verticalement */
    height: 100%; /* Hauteur de l'espace */
    flex: 1; /* Prend tout l'espace disponible */
}

.search-bar .search-bar__text-area .input {
    display: flex; /* Appliquer flexbox */
    text-align: center; /* Centrer le texte à l'intérieur de l'input */
    font-weight: 700 ; /* Poids de la police */
    width: 100%; /* Largeur de l'espace */
    height: 100%; /* Hauteur de l'espace */
    border : none; /* Supprimer la bordure */
    font-size: 18px; /* Taille de la police */
    padding: 0 10px; /* Espacement intérieur */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
}

/* Bouton de recherche */
.search-bar .search-bar__button {
    display: flex; /* Appliquer flexbox */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    height: 100%; /* Hauteur de l'espace */
    width: 132px; /* Largeur de l'espace */
    background-color: #0065FC; /* Couleur de fond */
    border-radius: 0px 15px 15px 0px; /* Arrondir les coins */
    border: none; /* Supprimer la bordure */
}

.search-bar .search-bar__button :hover {
    cursor: pointer; /* Changement de forme du pointeur lorsqu'il survole le bouton */
}

.search-bar .search-bar__button .button {
    background-color: transparent; /* Couleur de fond */
    border: none; /* Supprimer la bordure */
    display: flex; /* Flex pour centrer le contenu */
    align-items: center; /* Centrage vertical */
    justify-content: center; /* Centrage horizontal */
    width: 100%; /* Largeur totale */
    height: 100%; /* Hauteur totale */
}

.search-bar .search-bar__button .text {
    color: white; /* Couleur du texte */
    font-weight: 600; /* Poids de la police */
    font-size: 16px; /* Taille de la police */
}

.search-bar .search-bar__button .icon {
    display: none; /* Masquage de l'icône pour Desktop & Tablette */
}

/*** Filtres ***/
.filters {
    display: flex; /* Affichage en ligne */
    align-items: center; /* Alignement vertical au centre */
    height: 50px; /* Hauteur de la barre de filtre */
    gap: 15px; /* Espacement entre les boutons */
    flex-wrap: wrap; /* Permettre le passage à la ligne si nécessaire */
}

.filters h2{
    font-size: 18px; /*Taille de la police*/
    font-weight: 700; /* Epaisseur de lap*/
}

.filters__button-group {
    display: flex; /* Affichage en ligne */
    gap: 15px; /* Espacement entre les boutons */
    flex-wrap: wrap; /* Permettre le passage à la ligne si nécessaire */
}

.filters__button {
    display: flex; /* Affichage en ligne */
    align-items: center; /* Alignement vertical au centre */
    height: 50px; /* Hauteur du bouton */
    width: fit-content ; /* Largeur du bouton */
    padding: 4px 19px 4px 19px; /* Espacement intérieur */
    border: 2px solid #D9D9D9; /* Bordure */
    border-radius: 25px; /* Arrondir les coins */
    background-color: transparent; /* Couleur de fond */
    gap: 10px; /* Espacement entre les éléments */
}
.filters__button:hover {
    transition: 0.1s ease; /* Animation de la couleur */
    background-color: var(--filter-bg-color); /* Couleur de fond au survol */
    cursor: pointer; /* Changement de forme du pointeur */
}

.filters__button img {
    width: 22px; /* Largeur de l'icône */
    height: 22px; /* Hauteur de l'icône */
}

.filters__button span{
    font-size: 17px; /* Taille de la police */
    font-weight: 700; /* Poids de la police */
    font-style: normal; /* Style de la police */
    line-height: normal; /* Hauteur de ligne normale */
    text-align: center; /* Alignement du texte */
}

/*** InfoBar ***/
.info-group{
    margin-bottom: 35px; /* Espacement avec la section "hebergement" */
}


.infoBar {
    display: flex; /* Affichage en ligne */
    flex-direction: row; /* Alignement en ligne */
    flex-wrap: wrap; /* Permettre le passage à la ligne si nécessaire */
    align-items: center; /*Alignement des composants au centre verticalement*/
    height: 24px; /* Hauteur de la barre d'information */
}
.infoBar__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px; /* pour séparer de ton texte */
}

.infoBar__icon img {
    width: 50%;
    height: 50%;
}

.infoBar p{
    font-size: 16px; /* Taille de la police */
    font-weight: 400; /* Poids de la police */
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    width: fit-content;
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%; /* Largeur de la section */
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    flex-wrap: wrap;
    padding: 30px; /* Espacement intérieur */
    gap: 30px; /* Espacement entre les éléments */
}
.hebergements .hebergements__cards-group {
    gap: 30px; /* Espacement entre les cartes */
}

/*** Titre de la Section ***/
.hebergements__title {
    width: 100%; /* Largeur de la section */
    height: 26px; /* Hauteur de la section */
}
.hebergements__title h2 {
    font-size: 22px; /*Taille de la police*/
    font-weight: 700; /*Poids de la police*/
}

/*** Carte ***/
.hebergements__cards-group .hebergements-card {
    width: 100%; /* Largeur de la carte */ 
    max-width: 250px; /* Largeur maximale de la carte */
    background-color: white; /* Couleur de fond */
    border-radius: 20px; /* Arrondir les coins */
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-bottom: 15px; /* Espacement intérieur */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
}
.card__content {
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    align-items: flex-start; /* Alignement à gauche pour tous les enfants */
    gap: 8px; /* Espacement entre les éléments */
    padding: 0px 15px 0px 15px; /* Espacement intérieur */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
}
.hebergements-card img {
    height: 124px; /* Hauteur de l'image */
    width: 100%; /* Largeur de l'image */
    border: 5px solid white; /* Bordure blanche */
    border-radius: 20px 20px 0px 0px; /* Arrondir les coins supérieurs */
    object-fit: cover ; /* Ajuster l'image pour remplir le conteneur */
    box-sizing: border-box; /* Inclure la bordure dans la largeur totale */
}
.hebergements-card .content-text {
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    gap: 8px; /* Espacement entre les éléments */
}

.hebergements-card .content-text h3,
.hebergements-card .content-text p {
    height: auto; /* Hauteur automatique */
    width: 100%; /* Largeur de l'espace */
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}