/********** GENERAL **********/
* {
    font-family: 'Raleway', sans-serif; /* Font de la page */
    margin: 0px; /* Supprimer les possibles marges automatiques */
    padding: 0px; /* Supprimer les possibles paddings automatiques */
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-solid {
    color: var(--main-color);
}
body {
    display: flex;
    justify-content: center;
}
a {
    width: fit-content;
    color: inherit;
    text-decoration: none;
}
.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}
.card-title {
    font-size: 16px;
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}

/********** HEADER **********/
header {
    width: 100%; /* Largeur de l'entête */
    height: 79px; /* Hauteur de l'entête */

}

/****** navBar ******/
nav {
    display: flex; /* Afficher la navBar en flex */
    flex-wrap: wrap; /* Permettre le passage à la ligne si nécessaire */
    justify-content: space-between; /* Espacement entre les éléments */
}
/** Logo navBar **/
nav .navbar-logo .logo {
    padding-top: 30px; /* Espacement supérieur */
    margin: 0; /* Suppression de la marge */
    width: 61.09px; /* Largeur du logo */
    height: 19px; /* Hauteur du logo */
}
/** Personnalisation des Boutons du Menu **/
.menu-list {
    display: flex; /* Alignement en ligne */
    list-style: none; /* Suppression des puces */
    font-size: 16px; /* Taille de la police */
    gap: 35px; /* Espacement entre les boutons */
}

.menu-list a {
    display: flex; /* Alignement en ligne */
    padding-top: 16px; /* Espacement intérieur */
    list-style: none; /* Suppression des puces */
    font-size: 16px; /* Taille de la police */
    gap: 35px; /* Espacement entre les boutons */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
    border-top: transparent solid 3px; /* Apparition de la bordure */
    text-align: center;
}

/**--> Changement de Couleur et Ajout de la bordure au survol des liens <--**/
.menu-list a:hover{
    transition: color 0.1s ease; /* Animation de la couleur */
    color : var(--main-color); /* Changement de la couleur */
    cursor: pointer; /* Changement de forme du pointeur */
    border-top: var(--main-color) solid 3px; /* Apparition de la bordure */
}

/********** MAIN **********/
.main-container {
    width: 100%; /* Largeur de la page */
    max-width: 1440px; /* Largeur maximale de la page */
    padding: 0 50px; /* Espacement intérieur */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
}
main {
        margin: 0;
        padding: 0;
        gap: 30px;
        display: flex;
        flex-direction: column;
}

/******** info Group ********/
.info-group {
    display: flex; /* Alignement en ligne */
    flex-direction: column; /* Alignement en colonne */
    align-items: flex-start; /* Alignement à gauche pour tous les enfants */
    gap: 35px ; /* Espacement entre les éléments */
}

/**** Promesses ****/
.promesse {
    display: flex; /* Alignement en ligne */
    flex-direction: column; /* Alignement en colonne */
    gap: 8px; /* Espacement entre les éléments */
}
/** Titre de la Promesse **/
.promesse__title {
    font-size: 22px; /* Taille de la police du titre */
    font-weight: bold; /* Poids de la police */
    margin: 0; /* Supprimer les marges par défaut */
}
/** Paragraphe de la Promesse **/
.promesse__subtitle p{
    margin: 0; /* Supprimer les marges par défaut */
    font-size: 16px; /* Taille de la police */
    font-weight: 400; /* Poids de la police */
    color: #666; /* Couleur du texte */
}

/**** Search-Bar / Barre de Recherche ****/
/** Search-Bar **/
.search-bar {
    height: 49px; /* Hauteur de la barre de recherche */
    display: flex; /* Affichage en ligne */
    align-items: center; /* Alignement vertical au centre */
    width: 377px; /* Largeur de la barre de recherche */
    border: 1px solid #F2F2F2; /* Bordure */
    border-radius: 15px; /* Arrondir les coins */
}
/** Icône de recherche de la Search-Bar **/
.search-bar .search-bar__icon {
    display: flex; /* Appliquer flexbox sur l'icône pour l'aligner correctement */
    align-items: center; /* Centrer verticalement l'icône à l'intérieur de son conteneur */
    justify-content: center; /* Centrer horizontalement l'icône si nécessaire */
    width: 50px; /* Largeur de l'espace */
    height: 100%; /* Hauteur de l'espace */
    background-color: #F2F2F2; /* Couleur de fond */
    border-radius: 15px 0px 0px 15px; /* Arrondir les coins */
}
/** Icône de localisation de la Search-Bar **/
.search-bar .search-bar__icon .icon {
    width: 14px; /* Largeur de l'icône */
    height: auto; /* Hauteur de l'icône */
}
/** Zone de texte de la Search-Bar **/
.search-bar .search-bar__text-area {
    display: flex; /* Appliquer flexbox */
    align-items: center; /* Centrer verticalement */
    height: 100%; /* Hauteur de l'espace */
    flex: 1; /* Prend tout l'espace disponible */
}
/** Zone de texte de la Search-Bar **/
.search-bar .search-bar__text-area .input {
    display: flex; /* Appliquer flexbox */
    text-align: center; /* Centrer le texte à l'intérieur de l'input */
    font-weight: 700 ; /* Poids de la police */
    width: 100%; /* Largeur de l'espace */
    height: 100%; /* Hauteur de l'espace */
    border : none; /* Supprimer la bordure */
    font-size: 18px; /* Taille de la police */
    padding: 0 10px; /* Espacement intérieur */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
}
/** Bouton de la Search-Bar **/
.search-bar .search-bar__button {
    display: flex; /* Appliquer flexbox */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    height: 100%; /* Hauteur de l'espace */
    width: 132px; /* Largeur de l'espace */
    background-color: #0065FC; /* Couleur de fond */
    border-radius: 0px 15px 15px 0px; /* Arrondir les coins */
    border: none; /* Supprimer la bordure */
}

/**--> Changement du curseur au survol du bouton <--**/
.search-bar .search-bar__button :hover {
    cursor: pointer; /* Changement de forme du pointeur lorsqu'il survole le bouton */
}

/** Bloc de titre du bouton **/
.search-bar .search-bar__button .button {
    background-color: transparent; /* Couleur de fond */
    border: none; /* Supprimer la bordure */
    display: flex; /* Flex pour centrer le contenu */
    align-items: center; /* Centrage vertical */
    justify-content: center; /* Centrage horizontal */
    width: 100%; /* Largeur totale */
    height: 100%; /* Hauteur totale */
}
/** Titre du bouton **/
.search-bar .search-bar__button .text {
    color: white; /* Couleur du texte */
    font-weight: 600; /* Poids de la police */
    font-size: 16px; /* Taille de la police */
}
/** Icône de recherche du bouton **/
.search-bar .search-bar__button .icon {
    display: none; /* Masquage de l'icône pour Desktop & Tablette */
}

/**** Filtre ****/
/** Section FILTRE **/
.filters {
    display: flex; /* Affichage en ligne */
    align-items: center; /* Alignement vertical au centre */
    gap: 15px; /* Espacement entre les boutons */
    flex-wrap: wrap; /* Permettre le passage à la ligne si nécessaire */
}
/** Titre de la section FILTRE **/
.filters h2{
    font-size: 18px; /*Taille de la police*/
    font-weight: 700; /* Epaisseur de lap*/
}
/** Groupe de bouton FILTRE **/
.filters__button-group {
    display: flex; /* Affichage en ligne */
    gap: 15px; /* Espacement entre les boutons */
}
/** Bouton FILTRE **/
.filters__button {
    display: flex; /* Affichage en ligne */
    align-items: center; /* Alignement vertical au centre */
    height: 50px; /* Hauteur du bouton */
    padding: 4px 19px 4px 19px; /* Espacement intérieur */
    border: 2px solid #D9D9D9; /* Bordure */
    width: fit-content; /* Largeur du bouton */
    border-radius: 25px; /* Arrondir les coins */
    background-color: transparent; /* Couleur de fond */
    gap: 10px; /* Espacement entre les éléments */
}
/** Icone des Boutons FILTRE **/
.filters__button img {
    width: 22px; /* Largeur de l'icône */
    height: 22px; /* Hauteur de l'icône */
}
/** Titre des Boutons FILTRE **/
.filters__button span{
    font-size: 17px; /* Taille de la police */
    font-weight: 700; /* Poids de la police */
    font-style: normal; /* Style de la police */
    line-height: normal; /* Hauteur de ligne normale */
    text-align: center; /* Alignement du texte */
}

/**--> Changement de Couleur au survol des boutons FILTRE <--**/
.filters__button:hover {
    transition: 0.1s ease; /* Animation de la couleur */
    background-color: var(--filter-bg-color); /* Couleur de fond au survol */
    cursor: pointer; /* Changement de forme du pointeur */
}

/**** InfoBar ****/
/** InfoBar **/
.infoBar {
    display: flex; /* Affichage en ligne */
    flex-direction: row; /* Alignement en ligne */
    align-items: center; /*Alignement des composants au centre verticalement*/
    height: 24px; /* Hauteur de la barre d'information */
    gap: 10px; /* Espacement entre les éléments */
}
/** Cercle autour de l'icône de INFOBAR **/
.infoBar__icon {
    display: flex; /* Affichage en ligne */
    align-items: center; /* Alignement vertical au centre */
    justify-content: center; /* Alignement horizontal au centre */
    border: 1px solid #D9D9D9; /* Bordure */
    border-radius: 50%; /* Arrondir les coins */
    width: 24px; /* Largeur de l'icône */
    height: 24px; /* Hauteur de l'icône */
}
/** Icône de INFOBAR **/
.infoBar__icon img {
    width: 50%; /* Largeur de l'image */
    height: 50%; /* Hauteur de l'image */
}
/** Paragraphe de INFOBAR **/
.infoBar p{
    font-size: 16px; /* Taille de la police */
    font-weight: 400; /* Poids de la police */
}


/******** Hebergements And Populaires ********/
/****** Section Global Hebergements And Populaires ******/
.hebergements-and-populaires {
    display: flex; /* Affichage en ligne */
    justify-content: space-between; /* Espacement entre les sections */
}

/** Section Hebergements & Section Populaires **/
.hebergements-and-populaires section {
    background-color: var(--main-bg-color); /* Couleur de fond */
    border-radius: 20px; /* Arrondir les coins */
    padding: 30px; /* Espacement intérieur */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
}

/****** Hebergements ******/
/** Section Hebergement **/
.hebergements {
    width: 65%; /* Largeur de la section */
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    gap: 30px; /* Espacement entre les éléments */
}
/** Div du titre de la section HEBERGEMENT**/
.hebergements__title {
    width: 100%; /* Largeur de la section */
    height: 26px; /* Hauteur de la section */
}
/** Titre de la section HEBERGEMENT**/
.hebergements__title h2 {
    font-size: 22px; /*Taille de la police*/
    font-weight: 700; /*Poids de la police*/
}

/** Groupe de cartes de HEBERGEMENT **/
.hebergements .hebergements__cards-group {
    display: flex; /* Affichage en ligne */
    flex-wrap: wrap; /* Permettre le passage à la ligne si nécessaire */
    gap: 30px; /* Espacement entre les éléments */
    justify-content: space-between;
}

/** Carte de la section HEBERGEMENT **/
.hebergements__cards-group .hebergements-card {
    width: 30%; /* Ne pas dépasser 30% */
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-bottom: 15px;
    box-sizing: border-box;
}

/** Image de la carte **/
.hebergements-card img {
    height: 124px; /* Hauteur de l'image */
    width: 100%; /* Largeur de l'image */
    border: 5px solid white; /* Bordure blanche */
    border-radius: 20px 20px 0px 0px; /* Arrondir les coins supérieurs */
    object-fit: cover ; /* Ajuster l'image pour remplir le conteneur */
    box-sizing: border-box; /* Inclure la bordure dans la largeur totale */
}
/** Div contenu de la carte **/
.card__content {
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    align-items: flex-start; /* Alignement à gauche pour tous les enfants */
    gap: 8px; /* Espacement entre les éléments */
    padding: 0px 15px 0px 15px; /* Espacement intérieur */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
}
/** Contenu textuel de la carte **/
.hebergements-card .content-text {
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    gap: 8px; /* Espacement entre les éléments */
}
/** Texte de la carte **/
.hebergements-card .content-text h3,
.hebergements-card .content-text p {
    height: auto; /* Hauteur automatique */
    width: 100%; /* Largeur de l'espace */
}

/** Lien proposant d'afficher plus de contenu **/
.hebergements__more{
    font-weight: 700; /* Largeur de la police */
    font-size: 18px; /* Taille de la police */
}


/****** Populaires ******/
/** Section Populaires **/
.populaires {
    width: 32%; /* Largeur de la section */
}
/** Div du titre POPULAIRES**/
.populaires-title {
    display: flex; /* Affichage en ligne */
    justify-content: space-between; /* Espacement entre les éléments */
    align-items: center; /* Alignement vertical au centre */
}

/** Lien de la carte **/
.populaires-cards a {
    width: 100%; /* Largeur de du lien et donc de la carte */
}

/** Carte de la section POPULAIRES **/
.populaires-cards .card {
    display: flex; /* Affichage en ligne */  
    margin-top: 33px; /* Marge supérieure pour l'espacement */
}
/** Image de la carte **/
.populaires-cards img {
    width: 33%; /* Largeur de l'image */
    height: 136px; /* Hauteur de l'image */
    border-top-left-radius: 20px; /* Arrondir les coins */
    border-bottom-left-radius: 20px; /* Arrondir les coins */
}
/** Div contenu de la carte **/
.populaires-cards .card-content {
    width: 67%; /* Largeur de la carte */
    padding-left: 15px; /* Espacement intérieur */
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    justify-content: space-between; /* Espace entre les éléments */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
}

/** Titre de la carte **/
.populaires-cards .card-title {
    margin-top: 10px; /* Marge supérieure pour l'espacement */
    margin-bottom: 4px; /* Marge supérieure et inférieure pour l'espacement */
}
/** Sous-Titre de la carte **/
.populaires-cards .card-subtitle {
    margin: 0; /* Supprimer les marges par défaut */
}
/** Notation de la carte **/
.populaires-cards .card-rating {
    margin-bottom: 5px; /* Marge inférieure pour l'espacement */
}


/******** Activités ********/
/** Section Activités **/
.activites{
    width: 100%; /* Largeur de la section */
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    padding: 30px; /* Espacement intérieur */
    gap: 30px; /* Espacement entre les éléments */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
}
/** Div du titre de la section ACTIVITES**/
.activites__title {
    width: fit-content; /* Largeur de la section */
}

/** Groupe de cartes de ACTIVITES **/
.activites-cards__group {
    width: 100%; /* Largeur de la section */
    display: flex; /* Affichage en ligne */
    flex-direction: row; /* Alignement en ligne */
    gap: 30px; /* Espacement entre les éléments */
}
/** Carte de la section ACTIVITES **/
.activites-card{
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    width: 25%;  /* Largeur de la carte. Taille de 100% moins les 3*3Opx de gap le tout divisé par 4 */
    background-color: white; /* Couleur de fond */
    border-radius: 20px; /* Arrondir les coins */
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); /* Ombre */
    position: relative;
}
/** Lien de la carte **/
.activites-card a {
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    width: 100%; /* Largeur de la carte */
    height: 100%; /* Hauteur de la carte */
    border-radius: 20px; /* Arrondir les coins */
}
/** Image de la carte **/
.activites img{
    height: 380px; /* Fixe la hauteur à toutes les images */
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    position: relative;
}
/** Div contenu de la carte **/
.activites-card__content{
    padding: 20px 19px; /* Espacement intérieur */
    font-size: 16px; /* Taille de la police */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
    border-radius: 0 0 20px 20px; /* Arrondir les coins inférieurs */
    flex: 1; /* Permet à la div de prendre tout l'espace restant */
    display: flex; /* Affichage en ligne */
    align-items: center; /* ou center selon le besoin */
}

/********** FOOTER **********/
/** Footer **/
footer {
    background-color: var(--main-bg-color); /* Couleur de fond */
    width: 100%; /* Largeur de la section */
    height: fit-content; /* Hauteur de la section */
    display: flex; /* Affichage en ligne */
    flex-wrap: wrap; /* Permettre le passage à la ligne si nécessaire */
    box-sizing: border-box; /* Prendre en compte la bordure et le padding dans la largeur totale */
}
/** Section Footer **/
.footer__section {
    width: 100%; /* Largeur de la section */
}

/** Div contenu Footer **/
.footer__content{
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    align-items: flex-start; /* Alignement à gauche pour tous les enfants */
    gap: 15px; /* Espacement entre les éléments */
    padding: 20px; /* Espacement intérieur */
    height: 100%; /* Hauteur de la section */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
}
/** Titre de la Div **/
.footer__title {
    font-size: 18px; /* Taille de la police */
}
/** Liste de la Div **/
.footer__list ul{
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    gap: 15px;
}
/** Lien de la Div **/
.footer__list li {
    list-style: none; /* Supprimer les puces */
    font-size: 16px; /* Taille de la police */
}

    /** Titre des Boutons FILTRE **/
.filters__button span{
    font-size: 15px; /* Taille de la police */
    font-weight: 700; /* Poids de la police */
    font-style: normal; /* Style de la police */
    line-height: normal; /* Hauteur de ligne normale */
    text-align: center; /* Alignement du texte */
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/************ MEDIAS QUERIES ************/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    main {
        margin: 0;
        padding: 0;
        gap: 35px;
        display: flex;
        flex-direction: column;
}
    .main-container {
    width: 100%; /* Largeur de la page */
    max-width: 1024px; /* Largeur maximale de la page */
    padding: 0 50px; /* Espacement intérieur */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    }

    .filters {
        flex-direction: column; /* Alignement en colonne */
        align-items: flex-start; /* Alignement à gauche pour tous les enfants */
        gap: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards .card {
        width: 30%; /* Largeur de la carte */
        box-sizing: border-box; /* Inclure le padding dans la largeur totale */
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards__group {
        width: 100%; /* Largeur de la section */
        height: auto;
        display: flex; /* Affichage en ligne */
        flex-direction: row; /* Alignement en ligne */
        gap: 30px; /* Espacement entre les éléments */
    }
    .activites-card{
        display: flex; /* Affichage en ligne */
        flex-direction: column; /* Alignement en colonne */
        width: 25%; /* Largeur de la carte */
        background-color: white; /* Couleur de fond */
        border-radius: 20px; /* Arrondir les coins */
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); /* Ombre */
    }
    .activites-card a {
        display: flex; /* Affichage en ligne */
        flex-direction: column; /* Alignement en colonne */
        width: 100%; /* Largeur de la carte */
        height: 100%; /* Hauteur de la carte */
    }
    .activites img{
        height: 200px; /* Fixe la hauteur à toutes les images */
        width: 100%; /* Largeur de l'image */
        object-fit: cover; /* Ajuster l'image pour remplir le conteneur */
        border-radius: 20px 20px 0 0; /* Arrondir les coins supérieurs */
    }
    .activities-cards .card .card-content {
        height: 70px;
        padding: 0 19px;
        display: flex;
        align-items: center;
    } 

        /** Div contenu de la carte **/
    .activites-card__content{
        padding: 20px 19px; /* Espacement intérieur */
        font-size: 14px; /* Taille de la police */
        box-sizing: border-box; /* Inclure le padding dans la largeur */
        border-radius: 0 0 20px 20px; /* Arrondir les coins inférieurs */
        flex: 1; /* Permet à la div de prendre tout l'espace restant */
        display: flex; /* Affichage en ligne */
        align-items: center; /* ou center selon le besoin */
    }
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    main{
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0;
        padding: 0;
    }
    .activities-cards,
    .populaires-cards,
    .hebergements-cards, 
    header, 
    footer {
        flex-direction: column;
    }
    header {
        height: auto;
    }

        /****** navBar ******/
    nav {
        display: flex; /* Afficher la navBar en flex */
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    /** Logo navBar **/
    nav .navbar-logo .logo {
        justify-content: center;
        width: 100%;
    }
    /** Personnalisation des Boutons du Menu **/
    .menu-list {
        display: flex; /* Alignement en ligne */
        text-align: center;
        list-style: none; /* Suppression des puces */
        font-size: 16px; /* Taille de la police */
        margin-bottom: 0;
        width: 100%;
        gap: 0;
    }
    .menu-list li{
        text-align: center;
    }
    .navbar-menu{
        width: 100%;
        text-align: center;
    }

    nav ul li {
        flex: 1 1 0;
    }
    nav ul li a {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--main-bg-color);
    }
    
    .menu-list a:hover {
        border-top: none; /* Suppression de la bordure supérieure */
        transition: color 0.1s ease; /* Animation de la couleur */
        color : var(--main-color); /* Changement de la couleur */
        cursor: pointer; /* Changement de forme du pointeur */
        border-bottom: var(--main-color) solid 3px; /* Apparition de la bordure */
    }

        /********** MAIN **********/
    .main-container {
        width: 100%; /* Largeur de la page */
        max-width: 767.98px;
        box-sizing: border-box; /* Inclure le padding dans la largeur totale */
        display: flex; /* Affichage en ligne */
        flex-direction: column; /* Alignement en colonne */
        gap: 30px; /* Espacement entre les sections */
        padding: 0;
    }

    .activites h3{
    font-size: 16px;
}

    .hebergements-and-populaires .hebergements {
        background-color: white;
        padding: 20px;
        margin-top: 0px;
    }


/** Bouton de la Search-Bar **/
.search-bar .search-bar__button {
    display: flex; /* Appliquer flexbox */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    height: 100%; /* Hauteur de l'espace */
    width: 49px; /* Largeur de l'espace */
    background-color: #0065FC; /* Couleur de fond */
    border-radius: 15px; /* Arrondir les coins */
    border: 1px solid #0065FC; /* Bordure bleue */
    filter: drop-shadow(0px 4px 4px #00000040);
}
/** Titre du bouton **/
.search-bar .search-bar__button .text {
    display: none; /* Masquage du texte pour Desktop & Tablette */
}
/** Icône de recherche du bouton **/
.search-bar .search-bar__button .icon {
   display: block; /* Affichage de l'icône pour Telephone */
}

.info-group{
    padding: 0px 20px;
}

.search-bar {
    height: 49px; /* Hauteur de la barre de recherche */
    display: flex; /* Affichage en ligne */
    align-items: center; /* Alignement vertical au centre */
    width: 335px; /* Largeur de la barre de recherche */
    border: 1px solid #F2F2F2; /* Bordure */
    border-radius: 15px; /* Arrondir les coins */
}

/** Groupe de bouton FILTRE **/
.filters__button-group {
    display: flex; /* Affichage en ligne */
    gap: 15px; /* Espacement entre les boutons */
    flex-wrap: wrap; /* Permettre le passage à la ligne si nécessaire */
}

/** Bouton FILTRE **/
.filters__button {
    display: flex; /* Affichage en ligne */
    align-items: center; /* Alignement vertical au centre */
    height: 50px; /* Hauteur du bouton */
    padding: 4px 19px 4px 19px; /* Espacement intérieur */
    border: 2px solid #D9D9D9; /* Bordure */
    border-radius: 25px; /* Arrondir les coins */
    background-color: transparent; /* Couleur de fond */
    gap: 10px; /* Espacement entre les éléments */
    flex: 1; /* Permet au bouton de prendre tout l'espace disponible */
}

.hebergements-and-populaires{
    flex-direction: column-reverse; /* Alignement en colonne */
}

/** Carte de la section POPULAIRES **/
.populaires-cards {
    margin-top: 33px; /* Marge supérieure pour l'espacement */
}

/** Carte de la section POPULAIRES **/
.populaires-cards .card {
    display: flex; /* Affichage en ligne */
    width: 100%;
    margin-top: 33px; /* Marge supérieure pour l'espacement */
}
/** Image de la carte **/
.populaires-cards img {
    width: 50%; /* Largeur de l'image */
    height: 136px; /* Hauteur de l'image */
    border-top-left-radius: 20px; /* Arrondir les coins */
    border-bottom-left-radius: 20px; /* Arrondir les coins */
}
/** Div contenu de la carte **/
.populaires-cards .card-content {
    width: 67%; /* Largeur de la carte */
    padding-left: 15px; /* Espacement intérieur */
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    justify-content: space-between; /* Espace entre les éléments */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
}
/** Titre de la carte **/
.populaires-cards .card-title {
    margin-top: 10px; /* Marge supérieure pour l'espacement */
    margin-bottom: 4px; /* Marge supérieure et inférieure pour l'espacement */
}
/** Sous-Titre de la carte **/
.populaires-cards .card-subtitle {
    margin: 0; /* Supprimer les marges par défaut */
}
/** Notation de la carte **/
.populaires-cards .card-rating {
    margin-bottom: 5px; /* Marge inférieure pour l'espacement */
}

.hebergements__cards-group{
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    gap: 30px; /* Espacement entre les éléments */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
    width: 100%; /* Largeur de la section */
}

.activites-cards__group{
    width: 100%; /* Largeur de la section */
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    gap: 30px; /* Espacement entre les éléments */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
}
.activites-card{
    width: 100%;
}


/** Section Hebergements & Section Populaires **/
.hebergements-and-populaires section {
    border-radius: 0; /* Arrondir les coins */
}

    footer {
        margin: 0;
        padding: 30px;
        gap: 50px;
    }

    /** Carte de la section HEBERGEMENT **/
.hebergements__cards-group .hebergements-card {
    width: 100%; /* Ne pas dépasser 30% */
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-bottom: 15px;
    box-sizing: border-box;
}

/** Bloc de titre du bouton **/
.search-bar .search-bar__button .button {
    background-color: transparent; /* Couleur de fond */
    border: none; /* Bordure bleue */
    display: flex; /* Flex pour centrer le contenu */
    align-items: center; /* Centrage vertical */
    justify-content: center; /* Centrage horizontal */
    width: 100%; /* Largeur totale */
    height: 100%; /* Hauteur totale */
}

/** Image de la carte **/
.populaires-cards img {
    width: 33%; /* Largeur de l'image */
    height: 136px; /* Hauteur de l'image */
    border-top-left-radius: 20px; /* Arrondir les coins */
    border-bottom-left-radius: 20px; /* Arrondir les coins */
}
/** Div contenu de la carte **/
.populaires-cards .card-content {
    width: 67%; /* Largeur de la carte */
    padding-left: 15px; /* Espacement intérieur */
    display: flex; /* Affichage en ligne */
    flex-direction: column; /* Alignement en colonne */
    justify-content: space-between; /* Espace entre les éléments */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
}

    .populaires-cards .card {
        width: 100%;
        margin-top: 15px;
    }

    .menu-list a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--main-bg-color);
}

}